JWT_SECRET=replace-with-at-least-32-random-characters
JWT_REFRESH_SECRET=replace-with-another-32-random-characters
MYSQL_ROOT_PASSWORD=local_root_password
MYSQL_USER=ecommerce
MYSQL_PASSWORD=ecommerce_password
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce_password
RABBITMQ_USER=ecommerce
RABBITMQ_PASSWORD=ecommerce_password
PAYMENT_GATEWAY_URL=
PAYMENT_GATEWAY_USERNAME=MERCHANT_001
PAYMENT_GATEWAY_PASSWORD=change-me
